.genre-container {
	margin-top: 2rem;
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

.genre-component {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	border-radius: 20px;
	cursor: pointer;
	user-select: none;
}

.genre-component:hover {
	filter: brightness(1.4);
}

.genre-component > p {
	color: var(--text-color-secondary);
	padding: 5px 25px;
	margin: 0;
}

.selected {
	filter: brightness(1.4);
}
