.home {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 280px 1fr;
	height: 100vh;
}

.main-content {
	background-color: var(--secondary-background-color);
	height: 100vh;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.nav {
	padding: 2rem;
	padding-bottom: 0;
	background-color: var(--secondary-background-color);
}

.search-title {
	color: white;
}

.results {
	padding-inline: 2rem;
	flex-grow: 1;
	overflow-y: auto;
}
