.home {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 280px 1fr;
	height: 100vh;
}

.main-content {
	padding: 2rem;
	background-color: var(--secondary-background-color);
}

.search-title {
	color: white;
	margin-top: 40px;
}
